@page "/sigmaruledetails/{id}"
@using Microsoft.AspNetCore.Components;
@using MicroArcSec.Client.Data;
@using YamlDotNet.Serialization;
@using YamlDotNet.Serialization.NamingConventions;

@inject NavigationManager Navigation

@if (Model is null)
{
    <p>Loading...</p>
}
else
{
    <div class="modal-body">
        <h2 class="text-2xl font-bold mb-2">@Model.title</h2>
        <p class="text-gray-500 mb-4">@Model.description</p>
        <div>
            <p class="text-gray-700 font-bold mb-2">Status:</p>
            <p class="text-gray-500">@Model.status</p>
        </div>
        <div class="mt-4">
            <h3 class="text-xl font-bold mb-2">Logsource</h3>
            <div>
                <p class="text-gray-700 font-bold mb-2">Category:</p>
                <p class="text-gray-500">@Model.logsource.category</p>
            </div>
        </div>
        @if (Model.detection is not null){
            <div class="mt-4">
            <h3 class="text-xl font-bold mb-2">Detection</h3>
            <div>
                <p class="text-gray-700 font-bold mb-2">Condition:</p>
                <p class="text-gray-500">@Model.detection.condition</p>
            </div>
                @if(Model.detection.Selection is not null)
                {
                    <p class="text-gray-700 font-bold mb-2">Selections:</p>
                    @foreach (var curi in @Model.detection.Selection.curi)
                    {
                        <p class="text-gray-500">@curi</p>
                    }
                    @foreach (var cmd in @Model.detection.Selection.cmd)
                    {
                        <p class="text-gray-500">@cmd</p>
                    }
                    @foreach (var ip in @Model.detection.Selection.ip)
                    {
                        <p class="text-gray-500">@ip</p>
                    }
                }
                @if (Model.detection.fields is not null)
                {
                    <div class="mt-4">
                        <h4 class="text-lg font-bold mb-2">Fields:</h4>
                        <ul class="list-disc ml-4">
                            @foreach (var field in Model.detection.fields)
                            {
                                <li class="text-gray-500">@field</li>
                            }
                        </ul>
                    </div>
                }
                @if (Model.detection.FalsePositives is not null)
                {
                    <div class="mt-4">
                        <h4 class="text-lg font-bold mb-2">False positives:</h4>
                        <ul class="list-disc ml-4">
                            @foreach (var fp in Model.detection.FalsePositives)
                            {
                                <li class="text-gray-500">@fp</li>
                            }
                        </ul>
                    </div>
                }
            <div class="mt-4">
                <p class="text-gray-700 font-bold mb-2">Level:</p>
                <p class="text-gray-500">@Model.detection.level</p>
            </div>
                @if (Model.detection.tags is not null)
                {
                    <div class="mt-4">
                        <h4 class="text-lg font-bold mb-2">Tags:</h4>
                        <ul class="list-disc ml-4">
                            @foreach (var tag in Model.detection.tags)
                            {
                                <li class="text-gray-500">@tag</li>
                            }
                        </ul>
                    </div>
                }
        </div>
        }
    </div>
    <button class="custom-button" @onclick="GoBack">Go Back</button>
}
@code {
    [Parameter]
    public string Id { get; set; }

    private SigmaRuleModel Model { get; set; }

    protected override void OnInitialized()
    {
        Model = GetRuleById(Id);
        base.OnInitialized();
    }

    private SigmaRuleModel GetRuleById(string id)
    {
        var yaml = File.ReadAllText("H:\\sample.yaml");
        var deserializer = new DeserializerBuilder()
            .WithNamingConvention(UnderscoredNamingConvention.Instance)
            .Build();
        try
        {
            var rules = deserializer.Deserialize<SigmaRuleModel[]>(yaml);
            var rule = rules.Where(x => x.id == Id).FirstOrDefault();
            if (rule != null)
            {
                return rule; 
            }
        }
        catch (Exception ex)
        {

            throw;
        }
        return new SigmaRuleModel();
    }

    void GoBack()
    {
        Navigation.NavigateTo("/sigma-rule");
    }
}